.container {
    padding-top: 10px;
    width: 700px;
}

.form-horizontal {
    width: 100%;
}

.footer {
  position: absolute;
  padding-top: 10px;
  background-color: #c0ffee;
}

input[type="text"] {
    height: 25px;
}

.navbar .nav > li > a {
    color: red;
}

.form-horizontal .control-label {
    text-align: left;
}
